<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <h1>Formulario</h1>
    <form th:object="${producto}" action="/formulario" method="post">
        <input type="hidden" th:field="*{id}">

        <label>Nombre</label> <input th:field="*{nombre}" /><br>
        <label>Precio </label> <input th:field="*{precio}" /><br>
        <label>Categoria </label> <input th:field="*{categoria}" /><br>
        <div  class="text-danger small" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
        <div  class="text-danger small" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
        <input type="submit" value="enviar">
    </form>
</body>
</html>